.hero__back {
  background-color: #fbfbfb;
}

.welcome__text {
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: relative;
}
.welcome__text h2,
.welcome__text p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.welcome__text h2 {
  max-width: 800px;
  margin: 0 auto;
  font-size: 3rem;
  font-weight: 600;
  position: relative;
  z-index: 10;
}

.welcome__text p {
  text-align: center;
  /* margin-top: -20px; */
  font-size: 19.2px;
  font-weight: 400;
}

.welcome__text .vector__logo {
  position: absolute;
  top: 112px;
  left: 44.6%;
  max-width: 275px;
}

.video__container {
  display: grid;
  /* width: 70%; */
  max-width: 1120px;
  margin: auto;
  justify-content: center;
}

@media (max-width: 1132px) {
  .video__container {
    max-width: 1000px;
  }
}

@media (max-width: 994px) {
  .welcome__text h2 {
    font-size: 2rem;
  }
}

@media (max-width: 994px) {
  .welcome__text .vector__logo {
    display: none;
  }
}

@media (max-width: 1400px) {
  .welcome__text .vector__logo {
    top: 112px;
    left: 43.5%;
    /* left: 38%; */
  }
}

.about__message {
  /* margin: auto; */
  text-align: center;
  padding: 10rem 0;
  margin-top: 4rem;
}

.about__message h3 {
  font-size: 2rem;
  max-width: 202px;
  margin: 0 auto;
  border-bottom: 4px solid var(--yellow-color);
}

.about__message p {
  max-width: 800px;
  margin: 12px auto;
  font-size: 1.4rem;
}
