.welcome__text {
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: relative;
}

.welcome__text h2,
.welcome__text p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.welcome__text h2 {
  font-size: 3rem;
  font-weight: 600;
  position: relative;
  z-index: 10;
}

.welcome__text p {
  text-align: center;
  margin-top: -20px;
  font-size: 19.2px;
  font-weight: 400;
}

.welcome__text .vector__logo {
  position: absolute;
  top: 152px;
  left: 660px;
}

.video__container {
  display: grid;
  width: 70%;
  margin: auto;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  justify-content: center;
}

@media (max-width: 755px) {
  .video__container {
    width: 90%;
  }

  .welcome__text h2 {
    font-size: 2rem;
  }

  .welcome__text .vector__logo {
    display: none;
  }
}

@media (max-width: 1400px) {
  .welcome__text .vector__logo {
    top: 152px;
    left: 533px;
  }
}
