*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --montserrat-font: "Montserrat", sans-serif;
  --regular-text-color: #303030;
  --yellow-color: #f6cb11;
}

body {
  margin: 0;
  font-size: 1rem;
  font-family: var(--montserrat-font);
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
